@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #2C2F38;
    display : flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/background-nuage.png);
    background-position: top;
    background-repeat: no-repeat;
}