.categories-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.categories-sub-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
    padding: 0.5em;
    border-radius: 1em;
}

.categories-sub-ctn:hover {
    background-color: #db9f43;
    cursor: pointer;
}

h3 {
    color: white;
}

.paragraph-categories {
    color : white;
}

.categories-btn-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.categories-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.categories-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0.6rem;
    gap: 0.3rem;
    border-radius: 1rem;
    border: none;
    background-color: #353842;
    color: white;
    /* Couleur de texte de base */
    transition: color 0.3s;
    /* Ajoute une transition pour une animation fluide */
}
        
.ctn-map{
    display: flex;
    flex-wrap: wrap;
    color: white;
    gap: 0.5em;
    animation: fadeInOut 1s ease-in-out;
}
.categories-btn:hover {
    color: #db9f43;
    /* Couleur de texte au survol */
}