.data-ctn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px 16px;
  position: relative;
}

.dishes-ctn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.data-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  padding: 1.5rem 1rem;
  padding-bottom: 4em;
  position: relative;
  border-radius: 1em;
  background-color: #353842;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.img-card {
  width: 120px;
}

.card-title {
  color: white;
}

.card-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.time-icon {
  width: 20px;
}

.card-btn {
  position: absolute;
  width: 100%;
  padding: 1em;
  bottom: 0;
  border-radius: 10px 10px;
  background-color: #353842;
  color: white;
  font-weight: bold;
  border: none;
}

.card-btn:hover {
  border: solid #212329 2px;
  background-color: white;
  color: black;
}

.data-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.data-card .recette-ingredients {
  display: none;
}

.data-card:hover .recette-ingredients {
  display: block;
}

.hover-ctn {
    display: flex;
    flex-direction: column;
    text-align: start;
}