.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

        .img-profil {
                width: 4em;
                height: 4em;
            }
}

.user-name{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.user-profil {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}


h1 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}


